<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MarbaSoftware.Properties.Settings.MarbaConnectionString" connectionString="Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba" providerName="System.Data.SqlClient" />
    <add name="bd_MarbaEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarbaEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bd_MarbaCupom" connectionString="metadata=res://*/ModelCupom.csdl|res://*/ModelCupom.ssdl|res://*/ModelCupom.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bd_MarbaConnection" connectionString="metadata=res://*/ModelCupomVendas.csdl|res://*/ModelCupomVendas.ssdl|res://*/ModelCupomVendas.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bd_CupomVendas" connectionString="metadata=res://*/ModelCupomRetiradas.csdl|res://*/ModelCupomRetiradas.ssdl|res://*/ModelCupomRetiradas.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bd_MarbaRetirada" connectionString="metadata=res://*/ModelRetirada.csdl|res://*/ModelRetirada.ssdl|res://*/ModelRetirada.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bd_MarbaEntitiesTestando" connectionString="metadata=res://*/ModelTestando.csdl|res://*/ModelTestando.ssdl|res://*/ModelTestando.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bd_MarbaEntitiesTesting" connectionString="metadata=res://*/ModelTesting.csdl|res://*/ModelTesting.ssdl|res://*/ModelTesting.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bd_MarbaEntitiesCupomRetirada" connectionString="metadata=res://*/ModelCupomRetirada.csdl|res://*/ModelCupomRetirada.ssdl|res://*/ModelCupomRetirada.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bd_MarbaEntitiesCupomRetiradas" connectionString="metadata=res://*/ModelRetiradas.csdl|res://*/ModelRetiradas.ssdl|res://*/ModelRetiradas.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bd_MarbaEntitiesRetirada" connectionString="metadata=res://*/ModelRetirada.csdl|res://*/ModelRetirada.ssdl|res://*/ModelRetirada.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bd_MarbaEntitiesReservas" connectionString="metadata=res://*/ModelReservas.csdl|res://*/ModelReservas.ssdl|res://*/ModelReservas.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bd_MarbaEntitiesEntrega" connectionString="metadata=res://*/ModelEntrega.csdl|res://*/ModelEntrega.ssdl|res://*/ModelEntrega.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bd_MarbaEntitiesEntregas" connectionString="metadata=res://*/ModelEntregas.csdl|res://*/ModelEntregas.ssdl|res://*/ModelEntregas.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="bd_MarbaEntitiesCupomEntregas" connectionString="metadata=res://*/ModelCupomEntregas.csdl|res://*/ModelCupomEntregas.ssdl|res://*/ModelCupomEntregas.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;User ID=sa;Password=marba;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarbaSoftware.Properties.Settings.ConexaoMarba" connectionString="Data Source=MARBASERVIDOR\SQLEXPRESS;Initial Catalog=bd_Marba;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.12.3.0" newVersion="2.12.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>